
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

h1{
    text-align: center;
}

.principal {
    display: flex;
    gap: 20px;
}
.columna {
    flex: 1;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
}
.columna h2 {
    text-align: center;
    color: #64b5f6;
}
.columna ul {
    list-style-type: none;
    padding: 0;
}
.columna ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
.columna ul li strong {
    color: #90caf9;
}
